@model ClientManager.Models.person

@{
    ViewBag.Title = "FriendIndex";
}

<h2>
    @Html.DisplayFor(model => model.first_name)
    @Html.DisplayFor(model => model.last_name)
</h2>

<p>
    Profile picture:
    <img src="/Images/@Html.DisplayFor(modelItem => modelItem.picture.relative_path)" style="max-height:100px; max-width:100px" />
</p>

@Html.Partial("FriendPictureAlbum", Model.pictures)
@Html.ActionLink("Back to Profile", "index", "Profile")